.container_produtos{
   display: flex;
   justify-content: center;
   width: 100%;
   background-color:  rgb(255, 255, 255);
}

.produto_title{
    padding: 10px 20px;
}

.produto_title h3{
  display:inline-block;
  font-weight:bolder;
  font-size: 1.5rem;
  text-transform: capitalize;
  border-bottom: solid 4px #1d559e;
}

.area_produtos{
  width: 96%;
  padding-bottom: 20px;
}

.produtos{
    width: 100% ;
    padding: 0px 0px 20px 0px;
}

#consoles_cards, #games_cards, #acessorios_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  
}


